extends layout
include ./mixins

block content
  h1= title
  for workout in workouts
    if workout._id == current
      form(action="/update/#{workout._id}", method="post")
        +form(workout)
  script.
    document.getElementById("hiddenbox").value= Date.now();
