extends layout
include ./mixins

block content
  h1= title
  form(action="/create", method="post")
    if workouts[0]
      +form(workouts[0])
    else
      +form({type: "Lift Type", weight: "Amount of Weight", reps: "Number of Reps"})

  br

  +list(workouts)

