extends layout
include ./mixins

block content
  h1= title
  form(action="/create", method="post")
    if workouts[0]
      +form(workouts[0])
    else
      input(type="text", onClick="this.select()", name="type", placeholder="Lift Type")
      input(type="number", onClick="this.select()", name="reps", placeholder="Amount of Reps")
      input(type="number", onClick="this.select()", step="5", name="weight", placeholder="Amount of Weight")
      input(type="hidden", id="hiddenbox", name="time")
      input(type="submit", value="submit")

  br

  +list(workouts)

  script.
    document.getElementById("hiddenbox").value= Date.now();
