extends layout
include ./mixins

block content
  style.
    .chart div {
      font: 10px sans-serif;
      background-color: steelblue;
      text-align: right;
      padding: 3px;
      margin: 1px;
      color: white;
    }
  script.
    var data = []
  h1= title
  .chart
  for workout in workouts
    script.
      data.push(#{workout.weight})

  script(src="http://d3js.org/d3.v3.min.js")
  script.
    var x = d3.scale.linear()
      .domain([0, d3.max(data)])
      .range([0, 420]);

    d3.select(".chart")
      .selectAll("div")
        .data(data)
      .enter().append("div")
        .style("width", function(d) { return x(d) + "px"; })
        .text(function(d) { return d; });

