body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.workout {
  width: 300px;
}

.workout a div {
  padding: 5px;
  display: inline;
}

.close {
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
  padding-left: 10px;
}
